
.Contact__container{
    margin-top: 5rem;

}
.Academic_heading{
    text-align: center;
    /* margin-bottom: 2rem; */
}
.timeline {
    margin-top: 2rem;
}
.btn-academic{
    margin-bottom: 5rem;
    text-align: center;
}
